/* CSS Reset */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Game CSS */

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 4em;
    padding: 40px;
    text-align: center;
    color: #a83f55;
}
p {
    font-family: Ubuntu, serif;
    padding-bottom: 30px;    
}
button {
	margin-top: 10px;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	background-size: 42px 42px;
	background-color: #F2C14E;
	border: none;
	font-size: 20px;
	font-family: Ubuntu, serif;
}
button:hover {
	background-color: #EE7F53;
}
button:focus { 
	outline:none;
}
.splash-screen {
    background-image: url("./Bus-stop.jpg");
    background-repeat: no-repeat;
    background-color:black;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-box {
    height: 70%;
    width: 80%;
    background-color:rgb(225,225,225,0.7);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-container {
    background-image: url("./Bus-stop.jpg");
    background-repeat: no-repeat;
    background-color: #49434C;
    background-size: contain;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}
#header {
    height: 50px;
    width: 80%;
    background-color: #93D6E6; 
    text-align: right;
    display: table;
}
h2 {
    vertical-align: middle;
    display: table-cell;
    padding-right: 150px;
    color: white;
    font-family: 'Russo One', sans-serif;
}
#seconds {
    text-align: left;
    padding-left: 150px;
}
canvas {
    width: 90%;
    height: 90%;
}
#footer {
    height: 10px;
    width: 100%;
    background-color: #49434C; 
}
.hide {
    display: none;
}
